
/* FAQS page  */

.accordion-item {
  border: none;
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.accordion-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.accordion-button {
  padding: 20px 25px;
  font-weight: 600;
  color: #333;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.125);
}

.accordion-button::after {
  background-size: 20px;
  transition: all 0.3s ease;
}

.accordion-body {
  padding: 25px;
  background-color: #ffffff;
}
